.nav-link:hover{
    background-color: #444444;
    
}


.row{
    text-align: center;
    display: block;
}
.para{
    text-align: left;
    color:white;
    
}
.h3{
    font-family:monospace;
    font-size: medium;
    
}
.container1{
    background-color: #444444;
    color: white;
    padding-right: 10px;
    
}
.para{
    color: white;
    text-align: center;
    padding: 10px;
    margin: auto;
}
.p4-border:hover{
background-color: #0099cc;
}


